<section class="block container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate recusandae quidem, error optio, culpa, vero
        corrupti voluptatum consequuntur eveniet neque sequi? Fugit, cupiditate at. Fuga voluptatum officiis distinctio
        at quisquam?</p>
</section>

<section class="block block--dark">
    <header class="block__header container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </header>
</section>