<div style="width: 28%; padding: 2rem;">
    <div class="card">
        <header class="card__header">
            <img src="./Image/car.jpg" alt="" class="card__image">
        </header>
        <div class="card__body">
            <span class="badge">XBox one</span>
            <span class="badge">XBox one</span>
            <span class="badge">XBox one</span>
        </div>
        <div class="card__paragraph">
            <h3 class="card__heading">Forza Horizon</h3>
            <p class="paragraph">
                Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games and published by Xbox Game
                Studios. It is the...
            </p>
        </div>
        <a href="" class="link">Play now</a>
    </div>
</div>

