<section class="block block--dark">
    <div class="container contact">
        <h2 class="contact__heading">Don't miss the updates from our end</h2>
        <p class="contact__para">Ut sed non dolores qui deleniti tempora. Minus et voluptatem officiis ut aspernatur
            nihil recusandae ullam. Ut similique
            occaecati ea porro voluptatibus sequi.</p>
        <div class="contact__input">
            <input type="text" placeholder="example@email.com" class="text">
            <button class="btn btn--dark contact__button">Subscribe</button>
        </div>
    </div>
</section>