<section class="block block--dark">
    <header class="block__header container">
        <span class="badge badge--border">XBox one</span>
        <h2 class="block__heading">Heading</h2>
        <p class="block__para">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </header>
    <div class="gallery container">
        <div class="box box-one"></div>
        <div class="box box-two"></div>
        <div class="box box-three"></div>
        <div class="box box-four"></div>
        <div class="box box-five"></div>
        <div class="box box-six"></div>
    </div>

    <a href="" class="link">View all photos</a>
</section>