<section class="block block--dark">
    <header class="block__header container">
        <span class="badge badge--border">XBox one</span>
        <h2 class="block__heading">Heading</h2>
        <p class="block__para">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </header>
    <div class="gallery container">
        <div class="box box-one"></div>
        <div class="box box-two"></div>
        <div class="box box-three"></div>
        <div class="box box-four"></div>
        <div class="box box-five"></div>
        <div class="box box-six"></div>
    </div>

    <a href="" class="link">View all photos</a>
</section>


<section class="block block--grey">

    <div class="container">
        <span class="badge badge--border">FEATURED</span>
        <h2 class="gallery__heading">Find the best out there</h2>
        <p class="gallery__para">Unde ut et. Delectus aspernatur eligendi ullam. Sit ad illum eaque distinctio.</p>
    </div>


    <div class="wrapper">
        <!-- <i id="left" class="fa-solid fa-angle-left"></i> -->
        <i id="left" class=""><img src="./icons/vuesax-bold-arrow-left.svg" alt=""> </i>
        <div class="carousel">

            <div style="width: 200%; margin: 0;">
                <div class="card" draggable="false">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <!-- <span class="badge">XBox one</span>
                                    <span class="badge">XBox one</span> -->
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                        <p><a href="" class="link">Play now</a></p>

                    </div>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                        <p><a href="" class="link">Play now</a></p>
                    </div>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                        <p><a href="" class="link">Play now</a></p>
                    </div>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                        <p><a href="" class="link">Play now</a></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- <i id="right" class="fa-solid fa-angle-right"></i> -->
        <i id="right" class=""><img src="./icons/vuesax-bold-arrow-right (2).svg" alt=""> </i>

    </div>
    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>

    </div>
</section>