<section class="block block--dark">
    <div class="container">
        <span class="badge badge--border">GALLERY</span>
        <h2 class="gallery__heading">Here’s how the rigs looks</h2>
        <p class="gallery__para">Unde ut et. Delectus aspernatur eligendi ullam. Sit ad illum eaque distinctio.</p>
    </div>
    <div class="container gallery">
        <div class="box box-one"></div>
        <div class="box box-two"></div>
        <div class="box box-three"></div>
        <div class="box box-four"></div>
        <div class="box box-five"></div>
        <div class="box box-six"></div>
    </div>

</section>