<section class="block block--grey">

    <div class="container">
        <span class="badge badge--border">FEATURED</span>
        <h2 class="gallery__heading">Find the best out there</h2>
        <p class="gallery__para">Unde ut et. Delectus aspernatur eligendi ullam. Sit ad illum eaque distinctio.</p>
    </div>


    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel">

            <div style="width: 200%; margin: 0;">
                <div class="card" draggable="false">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <!-- <span class="badge">XBox one</span>
                                <span class="badge">XBox one</span> -->
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                    </div>
                    <a href="" class="link">Play now</a>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                    </div>
                    <a href="" class="link">Play now</a>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                    </div>
                    <a href="" class="link">Play now</a>
                </div>
            </div>

            <div style="width: 200%; margin: 0;">
                <div class="card">
                    <header class="card__header">
                        <img src="./Image/car.jpg" alt="" class="card__image">
                    </header>
                    <div class="card__body">
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                        <span class="badge">XBox one</span>
                    </div>
                    <div class="card__paragraph">
                        <h3 class="card__heading">Forza Horizon</h3>
                        <p class="paragraph">Forza Horizon 5 is a 2021 racing video game developed by PlayGround Games
                            and published by Xbox Game Studios. It is the...</p>
                    </div>
                    <a href="" class="link">Play now</a>
                </div>
            </div>

        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
    </div>
</section>