<section class="block block--grey games">
    <div class="container">
        <span class="badge badge--border">FEATURED</span>
        <h2 class="gallery__heading">Find the best out there</h2>
        <p class="gallery__para">Unde ut et. Delectus aspernatur eligendi ullam. Sit ad illum eaque distinctio.</p>
    </div>

    <div>
        <button class="previous__button">
            <img src="./icons/vuesax-bold-arrow-left.svg" alt="">
        </button>
        <button class="next__button">
            <img src="./icons/vuesax-bold-arrow-right.png" alt="">
        </button>

    </div>

</section>