<section class="block block--dark hero">
    <div class="container grid grid--1x2 hero__header">
        <div class="hero__content">
            <h1 class="hero__heading">An <span class="gradient__text">immersive</span> co-op gaming experience</h1>
            <p class="hero__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Rem, voluptatibus?</p>
            <div class="hero__button">
                <button class="btn btn--pink">Book a session now!</button>
                <a href="" class="link-arrow hero__link">Explore all games</a>
            </div>
        </div>
        <div>
            <!-- <img src="./Image/hero-image_2x.png" alt="Hero_image" class="hero__image"> -->
        </div>
    </div>
</section>