<nav class="nav">
    <div>
        <img src="./icons/gameden-logo.svg" alt="">
    </div>
    <div class="list">
        <ul class="nav__list">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Games</a></li>
            <li class="nav__item"><a href="#">Events</a></li>
            <li class="nav__item"><a href="#">Blog</a></li>
            <li class="nav__item"><a href="#">Locations</a></li>
        </ul>
    </div>
    <div class="list list--btn">
        <button class="btn btn--dark">Login</button>
        <button class="btn btn--pink">Get Started</button>
    </div>
</nav>